.dataTables_filter {
  text-align: left;
}
.model-btn-wrapper {
  margin-bottom: 10px;
}
.form-delete-btn {
  float: left;
  margin: 0 5px 0 0;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
  float: right;
  padding-left: 10px;
}
.form-group .radio-list {
  padding-right: 22px;
}
.tabbable-custom.boxless > .tab-content{padding-top: 0;}
