input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#wrapper {
  background-color: #364150;
}
.navbar-default {
  background-color: #2b3643;
  color: #b4bcc8;
  border-color: #3d4957;
}
.navbar-default .navbar-brand {
  color: #FF3F3F;
}
.navbar-default .navbar-brand:hover {
  color: #FF3F3F;
}
.nav > li > a {
  background-color: #364150;
  color: #eeeeee;
  font-size: 14px;
}
.nav > li > a:hover,
.sidebar ul li a.active,
.nav > li > a:focus {
  background: #2c3542;
  color: #b4bcc8;
}
.sidebar ul li {
  border-bottom: 1px solid #3d4957;
}
.sidebar ul li a {
  font-size: 14px;
}
.sidebar ul li a i.fa {
  font-size: 16px;
  margin-left: 10px;
}
.sidebar ul li a.open {
  background: #1caf9a;
  color: #ffffff;
}
.navbar-top-links > li > a {
  background: transparent;
}
.navbar-top-links .open > a,
.navbar-top-links .open > a:hover,
.navbar-top-links .open > a:focus,
.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus {
  background-color: #3f4f62;
  border-color: transparent ;
}
.login-content {
  background: url(../images/veterinary/bg-white-lock.png) repeat;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.page-bar {
  padding: 5px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  font-size: 14px;
}
.page-bar span span {
  display: inline-block;
  padding-left: 5px;
}
.content-nav li a {
  background: none;
  border-color: transparent;
  color: #5b9bd1;
}
.tabbable-custom.boxless > .tab-content {
  padding: 0px;
}
.nav-tabs > li > a {
  margin-right: 0px;
}
.portlet-body.pets-info .form-group {
  margin-bottom: 0px;
}
.portlet-body.pets-info .control-label {
  text-align: right;
}
